
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.paper {
	flex: 1;
	margin: 0 2%;
}

.inputMargin {
	margin: 2px 5px
}

.toolbar {
	justify-content: space-between;
}

.link, .link:hover {
	text-decoration: inherit;
	color: inherit;
}

.container-fluid {
	margin-top: 2% !important;
}
