.editor-content {
	padding: 10px;
}

.editor-toolbar > div {
	flex-wrap: wrap;
}

.none {
	display: none;
}

.inline {
	display: inline;
}

.card-container {
	margin: 10px 0;
	overflow: visible !important;
}

.file-container-language {
	display: flex;
	align-items: center;
	padding-top: 0 !important;
}

.file-container-language > p {
	width: 30%;
}

.file-container-actions {
	width: 100%;
}

.file-container-actions > div {
	display: inline;
	margin-left: 10px;
}

.file-name {
	word-break: break-all;
}

.related-content > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.more-info-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}

.submission {
	margin-top: 20px !important;
}
