body {
  margin: 0;
  padding: 0;
  font-family: helvetica,arial,sans-serif;
  font-size: 14px;
  font-size: 1rem;
  font-weight: 300;
  color: #565d68;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rdw-editor-main {
  height: 275px !important;
}

.was-validated .is-invalid__control {
  border-color: #dc3545 !important;
}

.was-validated .is-invalid ~ .invalid-feedback {
  display: block;
}

.was-validated .is-valid__control {
  border-color: #28a745 !important;
}

.form-group.required > label:after {
  content:"*";
  color: #dc3545;
}

.crop-image {
  max-height: 250px;
  overflow: hidden;
}

.page-wrapper {
  flex: 1 0 auto;
}

footer {
  background: #007faa;
  padding: 20px 0;
  margin-top: 16px;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans',helvetica,arial,sans-serif;
  flex-shrink: 0;
  width: 100%;
}

.footer a {
  color: #fff;
}

.footer__logo {
  margin-bottom: 8px;
}

.footer__logo a {
  display: block;
  margin-top: 8px;
}
